<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biblioteca</title>
    <link href="../static/css/index.css" rel="stylesheet" />
    <script src="../static/js/index.js" defer></script>
  </head>
  <body>
    <header>
      <h1 class="title">Biblioteca IBM-BeJob-Fundae</h1>
      <nav class="nav__header">
        <ul class="text-2x">
          <li>
            <a>Agregar libro</a>
          </li>
          <li>
            <a onclick="listarLibros()">Mostrar libros</a>
          </li>
          <li>
            <a>Buscar</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main__container">
      <tabla-libros></tabla-libros>
    </main>
    <footer>
      <h3>Realizado por: <span class="flag">Daniel Jiménez</span></h3>
      <p>Programa IBM-Skill-Building</p>
    </footer>
  </body>
</html>
