{% extends "base.html" %}
{% block title %}Listar Contactos{% endblock %}
{% block header %}
    <nav>
        <ul>                
            <li><a href="{{ url_for('nuevo_contacto') }}">Crear Contactos</a></li>                
        </ul>
    </nav>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/contactos.js') }}"></script>
{% endblock %}

{% block main %}
    <h1 class="text-2xl font-bold mb-4" id="titulo">Listar Contactos</h1>
    <table class="table-auto border-collapse border border-gray-200 w-3/4 mx-4">
        <thead class="bg-gray-100">
            <tr>                
                <th class="border border-gray-300 px-4 py-2">Nombre</th>
                <th class="border border-gray-300 px-4 py-2">Apellido</th>
                <th class="border border-gray-300 px-4 py-2">Email</th>
                <th class="border border-gray-300 px-4 py-2">Teléfono</th>
                <th class="border border-gray-300 px-4 py-2">Modificar</th>
                <th class="border border-gray-300 px-4 py-2">Eliminar</th>
                
            </tr>
        <thead>            
        <tbody>
            {% for contacto in contactos %}
            <tr>                
                <td class ="border border-gray-300 px-4 py-2">{{ contacto.nombre }}</td>
                <td class ="border border-gray-300 px-4 py-2">{{ contacto.apellido }}</td>
                <td class ="border border-gray-300 px-4 py-2">{{ contacto.email }}</td>
                <td class ="border border-gray-300 px-4 py-2">{{ contacto.telefono }}</td>
                <td class="text-center border border-gray-300 px-4 py-2"><button class = "bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded"
                    onclick="modificarContacto({{ contacto.id }})">Modificar</button></td>
                <td class="text-center border border-gray-300 px-4 py-2"><button  class = "bg-red-500 hover:bg-red-800 text-white font-bold py-2 px-4 rounded" onclick="eliminarContacto({{ contacto.id }})">Eliminar</button></td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

